<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BayViewHotel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="BayViewHotel.Properties.Settings.ConnectionString"
      connectionString="Data Source=0.0.0.0,443;Initial Catalog=BayViewHotel;Persist Security Info=True;User ID=sa;Password=Password"
      providerName="System.Data.SqlClient" />
    <add name="BayViewHotelEntities" connectionString="metadata=res://*/RoomTypeDataModel.csdl|res://*/RoomTypeDataModel.ssdl|res://*/RoomTypeDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=51.195.252.182,443;initial catalog=BayViewHotel;persist security info=True;user id=sa;password=Cambrian@1;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BayViewHotelRevenueEntity" connectionString="metadata=res://*/RevenueDataModel.csdl|res://*/RevenueDataModel.ssdl|res://*/RevenueDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=51.195.252.182,443;initial catalog=BayViewHotel;persist security info=True;user id=sa;password=Cambrian@1;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <BayViewHotel.Properties.Settings>
      <setting name="StaffID" serializeAs="String">
        <value>0</value>
      </setting>
    </BayViewHotel.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>